{
  "kind": "facets.modules.common.application",
  "apiVersion": "v2",
  "disabled": "false",
  "templatedOn": "customers",
  "metadata": {
  },
  "spec": {
    "runtime": {
      "ports": [
        {
          "name": "main",
          "port": 8081
        }
      ],
      "healthCheck": {
        "readinessUrl": "/isAlive",
        "livenessUrl": "/isAlive",
        "startupTime": 50,
        "timeout": 20,
        "period": 30,
        "portName": "main"
      },
      "size": {
        "namespace": "GENERAL_PURPOSE",
        "value": "TINY"
      }
    },
    "env": {
    },
    "release": {
      "strategy": "RollingUpdate",
      "build": {
        "artifactory": "facets-cp",
        "name": "tenants-service"
      }
    },
    "loadbalancing": {
      "rules": [
        {
          "ingress": "control",
          "path": "/v1/",
          "portName": "main",
          "domainPrefix": "accounts"
        }
      ]
    }
  }
}
